section {
  width:auto;
  height:auto;
}
.box {
  padding-bottom: 5em;
      padding-top: 5em;
      margin: 0;
      background: #333 url(http://il3.picdn.net/shutterstock/videos/2172341/thumb/1.jpg) 100% no-repeat;
      background-size: cover;
      width: auto;
}



/*footer {
  margin-top: 500px;
  background-color: #000;
  overflow: hidden;
  color:white;
  text-align:center;
}

#social-nav li {
  float: left;
  list-style:none;
}*/
