section {
  width:auto;
  height:auto;
}
.wrapper {
  position: relative;;
  padding: 0;
  height:200px;
  width:100%;;
  overflow: hidden;

}
.background {
  position: absolute;
  margin:0;
  z-index: 0;
  top: 0;
  left: 0;
  padding-bottom: 5em;
  padding-top: 5em;
  background: #333 url(//d2q4nobwyhnvov.cloudfront.net/f6a434ba-fb6d-4919-96ca-1075eb348648/vx3b8I6tVj8ybsA/images/home-head.jpg) 50% no-repeat;
  height:500px;
  width:100%;
}
.content {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  z-index:1;
  position: relative;
  height: 400px;
  color:white;
}
.home-content-headl {
  text-align: center;
  font-size: 2em;
  font-weight: 200;
}
