#schedule {
  width:730px;
  box-sizing: border-box;
  margin: 20px auto 20px;
}
.day_box {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.tutor_menu {
  position: relative;
  margin-bottom: 30px;
}
.tutor {
  width: 250px;
  height: 370px;
  border: 5px solid blue;
  display: inline-block;
  float:left;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
}

.tutor_name {
  margin:10px 0px 0px 0px;
  position: relative;
  top:80%;
}
#sunday {
  background-image: url('days-of-week/sunday.png');
}
#monday {
  background-image: url('days-of-week/monday.png');
  margin: 0 auto;
}
#tuesday {
  background-image: url('days-of-week/tuesday.png');
  margin: 0 auto;
}
#wednesday {
  background-image: url('days-of-week/wednesday.png');
  margin: 0 auto;

}
#thursday {
  background-image: url('days-of-week/thursday.png');
  margin: 0 auto;
}
#friday {
  background-image: url('days-of-week/friday.png');
  margin: 0 auto;
}
#saturday {
  background-image: url('days-of-week/saturday.png');
  margin: 0 auto;
}
#welcome{
  text-align: center;
}
