main {
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  text-align: center;
}

.mission_statement {
  text-align: center;
}

.about_us_bio {
  box-sizing: border-box;
}
.top_link {
  position: fixed;
  color: red;
  bottom: 5px;
  right: 5px;
  font-size: 30px;
}

.about_us_paragraph {
  color: white;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 50px;
  display: inline-block;
  border-radius: 20%;
}

.about_us_paragraph p {
  margin-top: 0;
  padding: 20px;
}

.about_us_paragraph h2 {
  text-align: center;
}

.about_us_picture {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  box-sizing: border-box;
  display: inline-block;
}

h1 {
  text-align: center;
  background-color: black;
  color: white;
}

#stephen_picture {
  width: 225px;
  border-radius: 100%;
  float: left;
  margin-right: 25px;
  border-radius: 100%;
}

#devon_picture {
  margin-right: 25px;
  height: 230px;
  width: 230px;
  float: left;
}

#nikko_picture {
  height: 230px;
  width: 230px;
  float: left;
  margin-right: 25px;
}

.names {
  background-color: #333;
  height: 50px;
  color: white;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 20px;
  border-top: 5px solid #333;
  border-bottom: 2.5px solid r#333;
  border-left: 5px solid #333;
  border-right: 5px solid #333;
}

.personal_ipsum {
  padding: 40px;
  background-color: #E8E8E8;
  margin: 0;
  color: black;
  border-top: 2.5px solid #333;
  border-bottom: 5px solid #333;
  border-left: 5px solid #333;
  border-right: 5px solid #333;
}

.clear_fix {
  clear:both;
}
