#new_student_form {
  display: inline-block;
  float: left;
  margin: 75px auto 40px auto;
  width: 50%;
  height: 50%;
}

.text_box{
  text-align: center;
  display: inline-block;
  width: 30%;
  height: 400px;
  float: right;
  margin: 90px 150px 40px 0px;
  background-image: url('../images/cf-logo(sized).png');
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
  font-size: 25px;
  padding-bottom: 10px;
  display: block;
  border-bottom:1px solid #444444;
  color: #444444;
}

h2 {
  width: 100%;
  color: #444444;
}

p {
  display: inline-block;
}

h5{
  margin-top: 40px;
  margin-bottom: 20px;
}

fieldset {
  display: block;
  margin: auto;
  width: 75%;
}

.input_titles {
  float: left;
  width: 20%;
  text-align: left;
  padding-right: 10px;
  margin-top: 10px;
  color: #888;
}

.text_field{
  border: 1px solid #DADADA;
  color: #888;
  height: 30px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font-size: 12px;
  line-height:15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
}

.checkbox {
  margin-right: 15px;
  transform: scale(1.4);
}

.button {
  background: #D62222;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #9E3F3F;
  margin-top: 25px;
  cursor: pointer;
  margin-left: 30px;
}

#head_to_tutors{
  width: 30px;
}

footer {
  height: 150px;
}

footer p#top_p {
  margin-top: 0px;
}
