#schedule {
  width:730px;
  box-sizing: border-box;
  margin: 20px auto 20px;
}
.day_box {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.tutor_menu {
  position: relative;
  margin-bottom: 30px;
}

.top_link {
  position: fixed;
  color: red;
  bottom: 5px;
  right: 5px;
  font-size: 30px;
}
.tutor {
  width: 250px;
  height: 370px;
  border: 2px groove black;
  display: inline-block;
  float:left;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-family: helvetica;
  font-size: 15px;
  font-weight: bold;
  background-color: #E8E8E8;

}
.tutor:hover {
  border: 2px groove #d03226;
}

.tutor_name {
  margin:10px 0px 0px 0px;
  position: relative;
  top:80%;
}
#sunday {
  background-image: url('../days-of-week/sunday.png');
}
#monday {
  background-image: url('../days-of-week/monday.png');
  margin: 0 auto;
}
#tuesday {
  background-image: url('../days-of-week/tuesday.png');
  margin: 0 auto;
}
#wednesday {
  background-image: url('../days-of-week/wednesday.png');
  margin: 0 auto;

}
#thursday {
  background-image: url('../days-of-week/thursday.png');
  margin: 0 auto;
}
#friday {
  background-image: url('../days-of-week/friday.png');
  margin: 0 auto;
}
#saturday {
  background-image: url('../days-of-week/saturday.png');
  margin: 0 auto;
}
#welcome{
  text-align: center;
  width: 80%;
  margin: auto;
}
.button {
  background: #D62222;
  border: none;
  padding: 10px 20px 10px 20px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #9E3F3F;
  margin-top: 25px;
  transition: all .1s linear;
  cursor: pointer;
}
.button:active {
  transform: translateY(2px);
  text-decoration: none;
}
.button:focus {
  outline:none;
}
